@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
.main{
    height: 50vh;
    width: 90vw;
    background-color: rgb(60, 74, 233);
    margin: auto;
    margin-top: 6em;
    color: white;
    font-size: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputfield{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    justify-content: space-evenly;
}

button{
    margin-left: 50%;
    background-color: rgb(32, 26, 26);
    color: white;
    /* padding: 2rem; */
    height: 7rem;
    width: 16rem;
    font-size: 2rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
}
p{
    margin-left: 1rem;
}
input{
    background-color: rgb(32,34,37);
    color: white;
    border: 1px solid grey;
    width: 55%;
    font-family: 'Anton', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-size: large;
}
.desc{
    height: 10em;
    margin-right: 2em;
}
/* button:hover{
    background-color: rgba(55, 45, 45, 0.91);
} */

.categories{
    margin: auto;
    width: 70%;
    display: flex;
    padding: 2% 0;
}


.close {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  .close:hover::before, .close:hover::after {
    background: #1ebcc5;
  }
  .close::before, .close::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
  }
  .close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .close.big {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
  }
  .close.hairline::before, .close.hairline::after {
    height: 1px;
  }
  .close.thick::before, .close.thick::after {
    height: 4px;
    margin-top: -2px;
  }
  .close.black::before, .close.black::after {
    height: 8px;
    margin-top: -4px;
  }
  .close.heavy::before, .close.heavy::after {
    height: 12px;
    margin-top: -6px;
  }
  .close.pointy::Before, .close.pointy::after {
    width: 200%;
    left: -50%;
  }
  .close.rounded::before, .close.rounded::after {
    border-radius: 5px;
  }
  .close.blades::before, .close.blades::after {
    border-radius: 5px 0;
  }
  .close.warp::before, .close.warp::after {
    border-radius: 120% 0;
  }
  .close.fat::before, .close.fat::after {
    border-radius: 100%;
  }

  .cls{
    margin-left: 10%;
  }


  .create-a-bot{
    display: flex;
    height: 70vh;
  }

  .create-a-bot img{
    height: 100%;
    object-fit: contain;
  }

  .form__group {
    height: fit-content;
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin-bottom: 5%;
  }
  .form__field::placeholder {
    color: white;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  .welcome{
    display: flex;
  }

  .wlI{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .heading{
    font-size: 6rem;
    padding: 10vh auto;
    text-align: center;
    font-family: 'Rubik Glitch', cursive;
    width: 100%;
  }

  .back{
    position: fixed;
    top: 1.5%;
    right: 1.5%;
  }

  .back:hover{
    cursor: pointer;
  }

  .finalLink{
    padding-left: 3.5vw;
    margin: 5vh auto;
    width: 50vw;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    word-wrap: break-word;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .finalLink:hover{
    color: white;
  }
 
  .buildABot{
    font-size: 30px;
  }