@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  width:100%;
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
  background: #000;
  min-height:100vh;
}
.container
{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  margin-bottom: 10%;
}
.container .btn {
  font-size: 1.5rem;
  position:relative;
  width: 155px;
  height: 55px;
  margin:20px;
}

.container .btn a
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  background: rgba(255,255,255,0.05);
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom:1px solid rgba(255,255,255,0.1);
  border-radius: 30px;
  color: #fff;
  z-index: 1;
  font-size: 400;
  font-weight: 300;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(15px);
  
}

.container .btn:hover a
{
  letter-spacing: 3px;
}

.container .btn a::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0.15),
  transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.container .btn:hover a::before
{
  transform: skewX(45deg) translateX(200%);
}
.container .btn::before
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width:30px;
  height:10px;
  background: rgb(251, 255,0);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.container .btn:hover::before
{
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.container .btn::after
{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width:30px;
  height:10px;
  background: rgb(251, 255,0);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}
.container .btn:hover::after
{
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.container .btn:nth-child(1)::before,
.container .btn:nth-child(1)::after
{
  background: #2f0ec0;
  box-shadow: 0 0 5px #2f0ec0,
  0 0 15px #2f0ec0,
  0 0 30px #2f0ec0,
  0 0 60px #2f0ec0;
}

.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after
{
  background: #F00;
  box-shadow: 0 0 5px #F00,
  0 0 15px #F00,
  0 0 30px #F00,
  0 0 60px #F00;
}

.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after
{
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71,
  0 0 15px #ff1f71,
  0 0 30px #ff1f71,
  0 0 60px #ff1f71;
}

.container .btn:nth-child(4)::before,
.container .btn:nth-child(4)::after
{
  background: rgb(251, 255,0);
  box-shadow: 0 0 5px rgb(251, 255,0),
  0 0 15px rgb(251, 255,0),
  0 0 30px rgb(251, 255,0),
  0 0 60px rgb(251, 255,0);
}




/* ///////////////////////////neon */
/*neon Button*/
.an2,.a-n1{ 
  border: 1px solid grey;
  margin-top: 6vh;
  margin-left: 21vw; 
  text-decoration: none; position: relative;  padding: 15px 30px; overflow: hidden; transition: 0.2s all;  color: #fff; text-transform: uppercase; letter-spacing: 4px;
}
.a-n1:hover{
  background:#F4D03F; color: #000;
  box-shadow: 0px 0px 10px #F4D03F, 0px 0px 40px#F4D03F, 0px 0px 80px #F4D03F; transition-delay: 1s;
}    
.an2 span,.a-n1 span{
  position: absolute;
  display: block;
}
.a-n1 span:nth-child(1){
top:0px;
left:-100%;
width: 100%;
height: 2px; 
background: linear-gradient(90deg,transparent,#F4D03F )
}

.a-n1:hover span:nth-child(1){

  left:100%; 
  transition: 0.5s; 
}


.a-n1 span:nth-child(3){
bottom:0px;
right:-100%;
width: 100%;
height: 2px; 
background: linear-gradient(270deg,transparent,#F4D03F )
}

.a-n1:hover span:nth-child(3){

  right:100%; 
  transition: 0.5s; 
  transition-delay: 0.5s;
}



.a-n1 span:nth-child(2){
top:-100%;
right:0;
width:  2px;
height: 100%; 
background: linear-gradient(180deg,transparent,#F4D03F )
}

.a-n1:hover span:nth-child(2){
  top:100%; 
  transition: 0.5s; transition-delay: 0.25s;
}

.a-n1 span:nth-child(4){
bottom:-100%;
left:0;
width:  2px;
height: 100%; 
background: linear-gradient(360deg,transparent,#F4D03F )
}

.a-n1:hover span:nth-child(4){
  bottom:100%; 
  transition: 0.5s;  transition-delay: 0.75s;
}


.an2:hover{
  border: 1px solid #26a0da;
  background:#26a0da; color: #000;
  box-shadow: 0px 0px 10px #26a0da, 0px 0px 40px#26a0da, 0px 0px 80px #26a0da; transition-delay: 0.2s;
}


.an2 span:nth-child(1){
  top: 0px;
  left: -91%;
  width: 100%;
  height: 2px;
  background: #26a0da;
}

.an2:hover span:nth-child(1){

  left:0%; 
  transition: 0.3s; 
}


.an2 span:nth-child(3){
  bottom: 0px;
  right: -91%;
  width: 100%;
  height: 2px;
  background: #26a0da;
}

.an2:hover span:nth-child(3){

  right:0%; 
  transition: 0.3s; 
}

.an2 span:nth-child(2){
  bottom: -70%;
  right: 0%;
  width: 2px;
  FONT-WEIGHT: 100;
  background: #26a0da;
  height: 100%;
}

.an2:hover span:nth-child(2){

  bottom:0%; 
  transition: 0.3s; 
}



.an2 span:nth-child(4){
  top: -70%;
  left: 0%;
  width: 2px;
  FONT-WEIGHT: 100;
  background: #26a0da;
  height: 100%;
}

.an2:hover span:nth-child(4){

  top:0%; 
  transition: 0.3s; 
}